* {
    margin: 0;                
    padding: 0;           
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 500px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}